@import url(https://fonts.googleapis.com/css?family=Poppins);

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', 'sans-serif';
}

:root {
  --bg-color: linear-gradient(118.98deg, #000000 -2.11%, #6737C1 63.58%);
  --text-color: white;
}

html {
  overflow-x: hidden;
}

section {
  position: absolute;
  left: 0;
  width: 100%;
  top: 7.5rem; /* 120px converted to rem */
  height: 57.44rem; /* 919px converted to rem */
  mix-blend-mode: normal;
  opacity: 0.9;
}

body {
  background-image: url(/static/images/mesh-757.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  font-weight: 900;
  cursor: default;
}

.logoimg {
  position: absolute;
  width: 5.5rem; /* 88px converted to rem */
  height: 4.6875rem; /* 81px converted to rem */
  left: 3.125rem; /* 50px converted to rem */
  top: calc(50% - 4.6875rem/2 - 0.03125rem); /* 81px converted to rem */
  z-index: 30;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: none;
  height: 6.25rem; /* 100px converted to rem */
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar a {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  margin-left: 3.5rem;
  transition: 0.3s;
  padding-right: 1.875rem; /* 30px converted to rem */
  font-weight: bold;
}

.navbar {
  margin-right: 6.875rem; /* 110px converted to rem */
}

.navbar a:hover,
.navbar a.active {
  color: rgba(251, 128, 255, 0.623);
  transform: scale(0.2);
  text-shadow: 2rem;
}

.container {
  position: absolute;
  top: 4.6875rem; /* 75px converted to rem */
  left: 13.125rem; /* 210px converted to rem */
  background-color: rgba(255, 255, 255, 0.13);
  box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem rgba(255, 255, 255, 0.13);
  border: 0.125rem solid white;
  width: 93.75rem; /* 1500px converted to rem */
  height: 43.75rem; /* 700px converted to rem */
  border-radius: 1.25rem; /* 20px converted to rem */
  padding: 3.125rem 3.125rem 3.125rem 3.125rem; /* 50px converted to rem */
  overflow-y: scroll;
}

h2 {
  position: relative;
  font-size: 1.875rem; /* 30px converted to rem */
  font-weight: bolder;
  color: rgb(0, 0, 0);
  border-radius: 0.625rem; /* 10px converted to rem */
}

.boxes {
  position: relative;
  width: 90%;
  height: 6.25rem; /* 100px converted to rem */
  background: linear-gradient(rgba(255, 255, 255, 0.334), rgba(255, 167, 226, 0.556));
  border: 0.125rem solid white;
  padding: 1.25rem 0.625rem 0.625rem 1.875rem; /* 20px 10px 10px 30px converted to rem */
  margin: 1.25rem 1.25rem 1.25rem 1.25rem; /* 20px converted to rem */
  border-radius: 1.25rem; /* 20px converted to rem */
}

footer {
  height: 25rem; /* 400px converted to rem */
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  position: absolute;
  bottom: -25rem; /* -400px converted to rem */
  left: 0;
  padding: 1rem 1rem 1rem 1rem;
  border: 0.1875rem solid black;
}

.boxes-foot {
  position: relative;
  width: 50%;
  display: inline;
  padding: 1rem 1rem 1rem 1rem;
}

.links {
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem 1rem 1rem;
}

.links a {
  color: black;
  display: block;
}
