<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plagarism</title>
    <link rel="stylesheet" href="/static/about.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="head">
      <a class="logo">Copaste Cookie</a>
      <nav class="navbar">
        <a href="home" class="Home">Home</a>
        <!-- <a href="about" class="about">About</a> -->
        <a href="history" class="tool">Team </a>
        <!-- <a href="history" class="tool"></a> -->
      </nav>
    </header>
    <section class="about">
      <div class="con">
        <h2>Introduction:</h2>
        <p>
          Welcome to our free plagiarism checker tool! In today's digital age, ensuring the authenticity and originality of written content is crucial. Plagiarism, the act of copying or stealing someone else's work without giving proper credit, can have serious consequences, both academically and professionally. Our plagiarism checker is designed to help you detect any instances of plagiarism in your text and ensure that your work is original. Whether you are a student, a writer, a researcher, or a content creator, our plagiarism checker is a valuable tool to maintain integrity and uphold ethical writing practices.
        </p>
      </div>
      <div class="con">
        <h2>How Does It Work?</h2>
        <p>
        Our plagiarism checker utilizes advanced algorithms to compare your text against an extensive database of online sources, academic journals, publications, and previously submitted works. It scans for similarities, identifies potential matches, and generates a detailed report highlighting any instances of plagiarism found in your content
        </p>
      </div>
      <div class="con">
        <h2>Key Features:</h2>
        <p>Comprehensive Scanning: Our plagiarism checker performs a thorough scan of your text, leaving no stone unturned. It examines your content at a sentence level, ensuring a detailed analysis.

          Multiple Source Comparison: We compare your text against a vast array of sources, including websites, articles, essays, books, and academic papers, to provide a comprehensive evaluation of originality.
          
          User-Friendly Interface: Our intuitive and user-friendly interface makes it easy for anyone to use the plagiarism checker without any technical expertise. Simply paste your text into the provided box, click the "Check Plagiarism" button, and let our tool do the rest.
          
          Detailed Plagiarism Report: Once the scan is complete, you'll receive a detailed plagiarism report highlighting any instances of similarity found in your content. The report will indicate the source of the match, allowing you to easily identify and rectify the plagiarized sections.
          
          Speed and Accuracy: Our plagiarism checker is optimized to deliver quick and accurate results, ensuring a seamless user experience.</p>
      </div>
      <div class="con">
        <h2>Why Use Our Plagiarism Checker?</h2>
        <p>Academic Integrity: For students and researchers, maintaining academic integrity is of utmost importance. Our plagiarism checker helps you avoid unintentional plagiarism and ensures that your work is original and properly referenced.

          Professional Reputation: For writers, bloggers, journalists, and content creators, originality is crucial to establishing and maintaining a strong professional reputation. Our plagiarism checker helps you uphold high ethical standards and protects your credibility.
          
          Quality Assurance: Businesses and organizations can benefit from our plagiarism checker by verifying the originality of content produced by their employees or freelance contributors. It ensures the delivery of high-quality, authentic content to clients and customers.
          
          Peace of Mind: By using our plagiarism checker, you can have peace of mind knowing that your work is original, unique, and free from any potential plagiarism issues.</p>
      </div>
    </section>
    <footer>
      <div class="boxes-foot">
        <h2>Sujay</h2>
        <p>Owner</p>
        <div class="links">
          <i class='bx bxl-linkedin'></i><a href="#">Linkedin</a>
          <i class='bx bxl-facebook-circle'></i><a href="#">Facebook</a>
          <i class='bx bxl-twitter' ></i><a href="#">Twiiter</a>
          <i class='bx bxl-whatsapp'></i><a href="#">WhatsApp</a>
        </div>
      </div>
      <div class="boxes-foot">
        <h2>Sudhakaran</h2>
        <p>Developer</p>
        <div class="links">
          <i class='bx bxl-linkedin'></i><a href="http://www.linkedin.com/in/sujay-r-85a878250">Linkedin</a>
          <i class='bx bxl-facebook-circle'></i><a href="#">Facebook</a>
          <i class='bx bxl-twitter' ></i><a href="#">Twiiter</a>
          <i class='bx bxl-whatsapp'></i><a href="#">WhatsApp</a>
        </div>
      </div>
      <div class="boxes-foot">
        <h2>Thanuja</h2>
        <p>Scrum Master</p>
        <div class="links">
          <i class='bx bxl-linkedin'></i><a href="https://www.linkedin.com/in/sudhakaran-gt">Linkedin</a>
          <i class='bx bxl-facebook-circle'></i><a href="https://www.facebook.com/">Facebook</a>
          <i class='bx bxl-twitter' ></i><a href="https://twitter.com/GT_Sudhakaran">Twiiter</a>
          <i class='bx bxl-whatsapp'></i><a href="+91 9952655991">WhatsApp</a>
        </div>
      </div>
      <div class="boxes-foot">
        <h2>Tejaswini</h2>
        <p>Developer</p>
        <div class="links">
          <i class='bx bxl-linkedin'></i><a href="#">Linkedin</a>
          <i class='bx bxl-facebook-circle'></i><a href="#">Facebook</a>
          <i class='bx bxl-twitter' ></i><a href="#">Twiiter</a>
          <i class='bx bxl-whatsapp'></i><a href="#">WhatsApp</a>
        </div>
      </div>
      <div class="boxes-foot">
        <h2>Swetha</h2>
        <p>Developer</p>
        <div class="links">
          <i class='bx bxl-linkedin'></i><a href="#">Linkedin</a>
          <i class='bx bxl-facebook-circle'></i><a href="#">Facebook</a>
          <i class='bx bxl-twitter' ></i><a href="#">Twiiter</a>
          <i class='bx bxl-whatsapp'></i><a href="#">WhatsApp</a>
        </div>
      </div>
      <div class="boxes-foot">
        <h2>Tejsree</h2>
        <p>Tester</p>
        <div class="links">
          <i class='bx bxl-linkedin'></i><a href="#">Linkedin</a>
          <i class='bx bxl-facebook-circle'></i><a href="#">Facebook</a>
          <i class='bx bxl-twitter' ></i><a href="#">Twiiter</a>
          <i class='bx bxl-whatsapp'></i><a href="#">WhatsApp</a>
        </div>
      </div>
    </footer>
  </body>
</html>