<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plagarism</title>
    <link rel="stylesheet" href="/static/home.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="head">
      <a class="logo">Copaste Cookie</a>
      <nav class="navbar">
        <a href="about" class="about">About</a>
        <a href="#" class="Home">Team</a>
        <a href="signin" class="Loginlink">Log in</a>
        <a href="signup" class="tool">Sign up</a>
      </nav>
    </header>
    <section class="homecontent">
      <div class="plan-a-child"></div>
      <div class="plan-a-item"></div>
      <img class="group-icon4" alt="" src="/static/images/group4.svg" />
      <div class="home-content">
        <div class="headofhome">Copaste Cookie</div>
        <p class="content">
          Welcome to our free plagiarism checker tool! In today's digital age, ensuring the authenticity and originality of written content is crucial. Plagiarism, the act of copying or stealing someone else's work without giving proper credit, can have serious consequences, both academically and professionally. 
        </p>
        <div class="start">
          <a href="signin" class="startlink">Get Started</a>
        </div>
      </div>
      <img
        class="mask-group-icon"
        alt=""
        src="/static/images/mask-group@2x.png"
      />
    </section>
    <footer>
      <div class="boxes-foot">
        <h2>Sujay</h2>
        <p>Project Owner</p>
        <div class="links">
          <i class='bx bxl-linkedin'></i><a href="http://www.linkedin.com/in/sujay-r-85a878250">Linkedin</a>
          <i class='bx bxl-facebook-circle'></i><a href="#">Facebook</a>
          <i class='bx bxl-twitter' ></i><a href="#">Twiiter</a>
          <i class='bx bxl-whatsapp'></i><a href="#">WhatsApp</a>
        </div>
      </div>
      <div class="boxes-foot">
        <h2>Sudhakaran</h2>
        <p>Developer</p>
        <div class="links">
          <i class='bx bxl-linkedin'></i><a href="https://www.linkedin.com/in/sudhakaran-gt">Linkedin</a>
          <i class='bx bxl-facebook-circle'></i><a href="https://www.facebook.com/">Facebook</a>
          <i class='bx bxl-twitter' ></i><a href="https://twitter.com/GT_Sudhakaran">Twiiter</a>
          <i class='bx bxl-whatsapp'></i><a href="+91 9952655991">WhatsApp</a>
        </div>
      </div>
      <div class="boxes-foot">
        <h2>Thanuja</h2>
        <p>Scrum Master</p>
        <div class="links">
          <i class='bx bxl-linkedin'></i><a href="#">Linkedin</a>
          <i class='bx bxl-facebook-circle'></i><a href="#">Facebook</a>
          <i class='bx bxl-twitter' ></i><a href="#">Twiiter</a>
          <i class='bx bxl-whatsapp'></i><a href="#">WhatsApp</a>
        </div>
      </div>
      <div class="boxes-foot">
        <h2>Tejaswini</h2>
        <p>Developer</p>
        <div class="links">
          <i class='bx bxl-linkedin'></i><a href="#">Linkedin</a>
          <i class='bx bxl-facebook-circle'></i><a href="#">Facebook</a>
          <i class='bx bxl-twitter' ></i><a href="#">Twiiter</a>
          <i class='bx bxl-whatsapp'></i><a href="#">WhatsApp</a>
        </div>
      </div>
      <div class="boxes-foot">
        <h2>Swetha</h2>
        <p>Developer</p>
        <div class="links">
          <i class='bx bxl-linkedin'></i><a href="#">Linkedin</a>
          <i class='bx bxl-facebook-circle'></i><a href="#">Facebook</a>
          <i class='bx bxl-twitter' ></i><a href="#">Twiiter</a>
          <i class='bx bxl-whatsapp'></i><a href="#">WhatsApp</a>
        </div>
      </div>
      <div class="boxes-foot">
        <h2>Tejsree</h2>
        <p>Tester</p>
        <div class="links">
          <i class='bx bxl-linkedin'></i><a href="#">Linkedin</a>
          <i class='bx bxl-facebook-circle'></i><a href="#">Facebook</a>
          <i class='bx bxl-twitter' ></i><a href="#">Twiiter</a>
          <i class='bx bxl-whatsapp'></i><a href="#">WhatsApp</a>
        </div>
      </div>
    </footer>
  </body>
</html>
