<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plagarism</title>
    <link rel="stylesheet" href="/static/home.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="head">
      <a class="logo">Copaste Cookie</a>
      <nav class="navbar">
        <a href="about" class="about">About</a>
        <a href="#" class="Home">Team</a>
        <a href="history" class="Loginlink">History</a>
        <a href="" class="tool">My account</a>
      </nav>
    </header>
    <section class="homecontent">
      <div class="plan-a-child"></div>
      <div class="plan-a-item"></div>
      <img class="group-icon4" alt="" src="/static/images/group4.svg" />
      <div class="home-content">
        <div class="headofhome">Copaste Cookie</div>
        <p class="content">
          Welcome to our free plagiarism checker tool! In today's digital age, ensuring the authenticity and originality of written content is crucial. Plagiarism, the act of copying or stealing someone else's work without giving proper credit, can have serious consequences, both academically and professionally. 
        </p>
        <div class="start">
          <a href="plagiarism" class="startlink">Get Started</a>
        </div>
      </div>
      <img
        class="mask-group-icon"
        alt=""
        src="/static/images/mask-group@2x.png"
      />
    </section>
  </body>
</html>
